<h1>Bulk Discount Info</h1>
<h2>Quantity Threshold: <%= @discount.quantity_threshold %>
    Percentage Off: <%= @discount.percentage_off %>
</h2>
<h3><%= link_to "Edit This Discount", "/merchant/#{@merchant.id}/bulk_discounts/#{@discount.id}/edit" %></h3>
